<div class="home-content">
	<div class="left-right">	
		<div class="home-left-content">
			<img style="pointer-events:none;" id="img_phone_content" src="http://d2connect.com/images/phone_rich_content.png"/> 
		</div>
		<div class="home-right-content">
			<h3>Delivering You The Right Content</h3>
			<span>Dota 2 News (D2News)</span>
			 brings you the hotest content from various sources: Official Dota 2 blog, Reddit, Gosugamers and more.

			</br> </br>

			Even better, D2News smartly delivers the right contents to you. Remember those posts like "In such and such hours...." ? Worry not, you can now set a reminder whenever you see them so you will never miss your favorite matches ever again. There are also other types of content that you will often see such as external links, twitch livestreams, youtube videos, self-posts, and images.
		</div>
	</div>
	<hr>
	<div class="top-bottom">
		<div class="home-top-content"> 
			<img style="pointer-events:none;" id="img_phone_detail" src="http://d2connect.com/images/phone_content_detail.png"/>
		</div>
		<div class="home-bottom-content">
			<h3>Don't Take Me Away</h3>
			When it comes to quick browsing, being redirected to another application or website often takes away your time. It is anti-fun, like our Anti-Mage. D2News allows you to see various types of content right inside the app with minimal distraction. You can view videos, images, and self-posts in an expandable panel.
		</div>
	</div>
</div>
<!-- css -->
<style type="text/css">
.home-content {
	display: block;
	margin: auto;
}

.left-right{
	display: block;
	margin: auto;
	text-align: center;
	padding: 20px;
}

.home-left-content {
	display: inline-block;
	width: 400px;
	height: auto;
	margin: auto;
}

#img_phone_content {
	max-width: 400px;
}

.home-right-content {
	display: inline-block;
	width: 450px;
	height: auto;
	margin: auto;
	text-align: left;
	vertical-align: middle;
}

#img_phone_detail {
	max-width: 700px;
}

.top-bottom {
	display: block;
	margin: auto;
	text-align: left;
	padding: 20px;
	max-width: 700px;
}

.home-content p {
	font-family: sans-serif;
	color: black;
	font-size: medium;
	font-variant: normal;
}

.home-bottom-content h3 {
	text-align: center;
}

.home-bottom-content {
	max-width: 550px;
	margin: auto;
}
</style>