<div class="row">
		<div class="main">
		<img src="http://d2connect.com/images/physics/spin_fan_low_frame.gif" class="img-responsive" style="margin:auto;">
	</div>
	<div class="shadow"></div>
</div>

<div class="row">
		<div class="main">
		<img src="http://d2connect.com/images/physics/spin_laser_low_frame.gif" class="img-responsive" style="margin:auto;">
	</div>
	<div class="shadow"></div>
</div>

<!-- specfic css for this file -->
<style type="text/css">
.expression_container {
	background-color:#EEEEEE; 
	margin: auto;
}

.main {
	background-color: #FFFFFF;

	border:solid;
	border-width: 1px;
	border-color: #DCDCDC;

	padding: 10px;
	border-radius: 5px;
	width: 800px;
	margin: auto;
}

.shadow {
	position: relative;
	z-index: -1;
	top: -5px;
	background-color: #DCDCDC;
	padding: 4px 10px 4px 10px;
	border-radius: 0px 0px 5px 5px;
	width: 800px;
	margin: auto;
}
</style>
</body>
</html>	


	